@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;700&family=Noto+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

html,
body {
  padding: 5px;
  margin: 0;
  height: 100%;
  background-color: white;
  display: block;
  box-sizing: border-box !important;
}
* {
  box-sizing: border-box;
}

:root {
  --title-font-ams: 'Hanken Grotesk', sans-serif;
  --section-font-ams: 'Roboto', sans-serif;
  --text-font-ams: 'Noto Sans', sans-serif;

  --font-bold-ams: 700;
  --font-normal-ams: 400;

  --font-size-xl-ams: 20px;
  --font-size-lg-ams: 16px;
  --font-size-md-ams: 13px;
  --font-size-sm-ams: 11px;

  --font-size-xl-ams-media900: 17px;
  --font-size-lg-ams-media900: 13px;
  --font-size-md-ams-media900: 11px;
  --font-size-sm-ams-media900: 10px;

  --font-size-xl-ams-media450: 15px;
  --font-size-lg-ams-media450: 11px;
  --font-size-md-ams-media450: 9px;
  --font-size-sm-ams-media450: 8px;

  --font-size-xl-ams-media320: 14px;
  --font-size-lg-ams-media320: 10px;
  --font-size-md-ams-media320: 9px;
  --font-size-sm-ams-media320: 8px;
}
#buttonContainer {
  position: absolute;
  top: 2px;
  left: 15px;
}

/* common elements */
.bold {
  font-weight: var(--font-bold-ams);
}
.upperCase {
  text-transform: uppercase;
}
a {
  text-decoration: underline;
  color: black;
}
a:hover {
  text-decoration: none;
}

/* elements */
.resumeContainer {
  border: 1px solid rgb(163, 163, 163);
  /* width: 21cm; */
  /* height: 29.7cm; */
  /* //padding: 2cm; */
  /* max-width: 793.706pt; */
  /* min-height: 97vh; */
  /* height: 830pt; */
  min-height: 830pt;
  /* height: 100%; */
  background-image: url('./images/grey_bg.png');
  background-repeat: no-repeat;
  background-size: 35% 100%;
  box-sizing: border-box;
}

.headerContainer {
  background-color: #fff;
  border: 1px solid black;
  border-bottom: 2px solid black;
  padding: 30px 15px;
  margin: 10px auto;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 10px;
  font-family: var(--title-font-ams);
}
.personName {
  font-size: 20px;
  font-weight: var(--font-bold-ams);
  text-transform: uppercase;
}
.personJobTitle {
  font-size: 16px;
  font-weight: var(--font-normal-ams);
}

.detailsContainer {
  display: flex;

  margin-top: 25px;
  flex-direction: row;
}
.leftSide,
.rightSide {
  padding: 3px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.leftSide {
  width: 35%;
}
.rightSide {
  width: 65%;
}

.sectionContainer {
  width: 100%;
  margin-bottom: 20px;
}
.sectionTitle {
  font-family: var(--section-font-ams);
  font-weight: var(--font-bold-ams);
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 13px;
  padding-bottom: 5px;
  margin: 0 0 10px 0;
  border: 0;
  border-bottom: 2px solid black;
}

.sectionBody {
  font-family: var(--title-font-ams);
  font-size: 13px;
}
.item {
  margin: 0 0 15px 0;
  width: 100%;
  font-family: var(--text-font-ams);

  box-sizing: border-box;
}
.itemRow {
  margin: 0 0 0px 0;
  display: flex;
  justify-content: space-between;
}
.firstColumn {
  width: 75%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.secondColumn {
  width: 25%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
/* text variants */
.infoText {
  font-size: 11px;
}
.item p {
  margin: 0 0;
}
@media (max-width: 900px) {
  .resumeContainer {
    min-height: auto;
  }
  .headerContainer {
    padding: 20px 15px;
    margin: 10px auto;
    width: 50%;
    row-gap: 5px;
    font-family: var(--title-font-ams);
  }

  .personName {
    font-size: var(--font-size-xl-ams-media900);
    font-weight: var(--font-bold-ams);
    text-transform: uppercase;
  }
  .personJobTitle {
    font-size: var(--font-size-lg-ams-media900);
    font-weight: var(--font-normal-ams);
  }

  .detailsContainer {
    margin-top: 15px;
  }

  .leftSide,
  .rightSide {
    padding: 3px 10px;
  }

  .sectionContainer {
    margin-bottom: 10px;
  }
  .sectionTitle {
    font-family: var(--section-font-ams);
    font-weight: var(--font-bold-ams);
    letter-spacing: 3px;
    font-size: var(--font-size-md-ams-media900);
    padding-bottom: 3px;
    margin: 0 0 5px 0;
  }
  .sectionBody {
    font-size: var(--font-size-md-ams-media900);
  }
  .item {
    margin: 0 0 10px 0;
  }
  .infoText {
    font-size: var(--font-size-sm-ams-media900);
  }
}

@media (max-width: 450px) {
  .resumeContainer {
    min-height: auto;
  }
  .headerContainer {
    padding: 8px 10px;
    margin: 10px auto;
    width: 50%;
    row-gap: 2px;
    font-family: var(--title-font-ams);
  }

  .personName {
    font-size: var(--font-size-xl-ams-media450);
    font-weight: var(--font-bold-ams);
    text-transform: uppercase;
  }
  .personJobTitle {
    font-size: var(--font-size-lg-ams-media450);
    font-weight: var(--font-normal-ams);
  }

  .detailsContainer {
    margin-top: 10px;
  }

  .leftSide,
  .rightSide {
    padding: 3px 5px;
  }

  .sectionContainer {
    margin-bottom: 7px;
  }
  .sectionTitle {
    font-family: var(--section-font-ams);
    font-weight: var(--font-bold-ams);
    letter-spacing: 2px;
    font-size: var(--font-size-md-ams-media450);
    padding-bottom: 1px;
    margin: 0 0 3px 0;
  }

  .sectionBody {
    font-size: var(--font-size-md-ams-media450);
  }
  .item {
    margin: 0 0 8px 0;
  }
  .infoText {
    font-size: var(--font-size-sm-ams-media450);
  }
}

@media (max-width: 320px) {
  .resumeContainer {
    min-height: auto;
  }
  .headerContainer {
    padding: 5px 8px;
    margin: 5px auto;
    width: 50%;
    row-gap: 2px;
    font-family: var(--title-font-ams);
  }

  .personName {
    font-size: var(--font-size-xl-ams-media320);
    font-weight: var(--font-bold-ams);
    text-transform: uppercase;
  }
  .personJobTitle {
    font-size: var(--font-size-lg-ams-media320);
    font-weight: var(--font-normal-ams);
  }

  .detailsContainer {
    margin-top: 8px;
  }
  .leftSide,
  .rightSide {
    padding: 2px 3px;
  }
  .sectionContainer {
    margin-bottom: 7px;
  }
  .sectionTitle {
    font-size: var(--font-size-md-ams-media320);
  }
  .sectionBody {
    font-size: var(--font-size-md-ams-media320);
  }
  .item {
    margin: 0 0 7px 0;
  }
  .infoText {
    font-size: var(--font-size-sm-ams-media320);
  }
}
