:root {
  --main-font-lndn: Arial, Helvetica, sans-serif;
  --second-font-lndn: Courier, monospace;

  --font-bold: 700;
  --font-normal: 400;

  --font-size-xl-lndn: 24px;
  --font-size-lg-lndn: 18px;
  --font-size-md-lndn: 16px;
  --font-size-sm-lndn: 12px;

  --font-size-xl-lndn-media900: 22px;
  --font-size-lg-lndn-media900: 16px;
  --font-size-md-lndn-media900: 14px;
  --font-size-sm-lndn-media900: 11px;

  --font-size-xl-lndn-media450: 20px;
  --font-size-lg-lndn-media450: 14px;
  --font-size-md-lndn-media450: 13px;
  --font-size-sm-lndn-media450: 11px;

  --font-size-xl-lndn-media320: 18px;
  --font-size-lg-lndn-media320: 13px;
  --font-size-md-lndn-media320: 11px;
  --font-size-sm-lndn-media320: 10px;

  --separator-color-lnd: darkslateblue;
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: white;
  height: 100%;
  margin: 0;
  padding: 5px;
  cursor: default;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: var(--font-size-md-lndn);
  display: block;
}
.bold {
  font-weight: var(--font-bold);
}
.upperCase {
  text-transform: uppercase;
}
.phone {
  text-decoration: none;
}

/* elements */

.resumeContainer {
  border: 1px solid rgb(163, 163, 163);
  /* max-width: 793.706pt; */
  min-height: 830pt;
  padding: 30px 60px;
  font-family: var(--main-font-lndn);
}
.headerPhoto {
  width: 25%;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.headerPhoto img {
  width: 50%;
  display: block;
}
.headerContainer {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person {
  font-size: var(--font-size-xl-lndn);
  font-family: var(--main-font-lndn);
}
.contacts {
  font-size: var(--font-size-lg-lndn);
  font-family: var(--main-font-lndn);
  text-align: center;
}

.sectionContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-top: 2px solid var(--separator-color-lnd);
  margin: 50px 0 0 0;
  padding: 20px 0 0 0;
  width: 100%;
}
.sectionBody {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.sectionBodyRow {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
  margin-bottom: 0px;
  align-items: flex-start;
  column-gap: 5px;
}
.sectionBodyColumn {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-md-lndn);
  padding: 0;
  margin: 0;
}
.column_25 {
  width: 25%;
}

/* .column_49 {
  width: 49%;
}
.column_50 {
  width: 50%;
} */
.column_75 {
  width: 75%;
  padding: 0 0 0 10px;
  margin: 0;
}

.sectionTitle {
  padding-bottom: 10px;
  font-family: var(--second-font-lndn);
  font-size: var(--font-size-lg-lndn);
}
.spaceBetween {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 5px;
  align-items: baseline;
}

.columnWrap {
  flex-wrap: wrap;
  column-gap: 30px;
  flex: 1;
}
.noWrap {
  display: flex;
  flex-wrap: nowrap;
}
.item {
  padding-bottom: 10px;
  width: 100%;
}

.itemName {
}
.itemDescr {
  font-size: var(--font-size-sm-lndn);
}
.item p {
  padding: 0;
  margin: 0;
}
.columnWrap div.item {
  min-width: 46%;
  max-width: 47%;
  align-items: center;
}
.shortSeparator {
  background-color: var(--separator-color-lnd);
  margin: 0 10px;
  height: 2px;
  width: 10px;
}
.alignCenter {
  align-items: center;
}

@media (max-width: 900px) {
  body {
    font-size: var(--font-size-md-lndn-media900);
  }

  .resumeContainer {
    border: 1px solid rgb(163, 163, 163);
    /* max-width: 793.706pt; */
    min-height: 830pt;
    padding: 25px 25px;
    font-family: var(--main-font-lndn);
  }
  .headerPhoto {
    width: 25%;
    margin-bottom: 5px;
  }
  .headerPhoto img {
    width: 65%;
  }

  .person {
    font-size: var(--font-size-xl-lndn-media900);
  }
  .contacts {
    font-size: var(--font-size-lg-lndn-media900);
  }

  .sectionContainer {
    margin: 30px 0 0 0;
    padding: 15px 0 0 0;
  }

  .sectionBodyRow {
    padding-bottom: 3px;
    column-gap: 5px;
  }
  .sectionBodyColumn {
    font-size: var(--font-size-md-lndn-media900);
  }

  .sectionTitle {
    padding-bottom: 5px;
    font-size: var(--font-size-lg-lndn-media900);
  }
  .spaceBetween {
    column-gap: 5px;
  }

  .columnWrap {
    column-gap: 30px;
  }

  .item {
    padding-bottom: 10px;
  }
  .itemName {
  }
  .itemDescr {
    font-size: var(--font-size-sm-lndn-media900);
  }

  .shortSeparator {
    background-color: var(--separator-color-lnd);
    margin: 0 10px;
    height: 2px;
    width: 10px;
  }
  .alignCenter {
    align-items: center;
  }
}

@media (max-width: 450px) {
  body {
    font-size: var(--font-size-md-lndn-media450);
  }

  .resumeContainer {
    border: 1px solid rgb(163, 163, 163);
    /* max-width: 793.706pt; */
    min-height: 830pt;
    padding: 15px 15px;
    font-family: var(--main-font-lndn);
    /* background-color: red; */
  }
  .headerPhoto {
    width: 25%;
    margin-bottom: 5px;
  }
  .headerPhoto img {
    width: 65%;
  }

  .person {
    font-size: var(--font-size-xl-lndn-media450);
  }
  .contacts {
    font-size: var(--font-size-lg-lndn-media450);
  }

  .sectionContainer {
    margin: 30px 0 0 0;
    padding: 15px 0 0 0;
  }

  .sectionBodyRow {
    padding-bottom: 3px;
    column-gap: 5px;
  }
  .sectionBodyColumn {
    font-size: var(--font-size-md-lndn-media450);
  }

  .sectionTitle {
    padding-bottom: 5px;
    font-size: var(--font-size-lg-lndn-media450);
  }
  .spaceBetween {
    column-gap: 5px;
  }

  .columnWrap {
    column-gap: 20px;
  }

  .item {
    padding-bottom: 8px;
    width: 100%;
  }
  .itemDescr {
    font-size: var(--font-size-sm-lndn-media450);
  }
}

@media (max-width: 320px) {
  body {
    font-size: var(--font-size-md-lndn-media320);
  }

  .resumeContainer {
    border: 1px solid rgb(163, 163, 163);
    /* max-width: 793.706pt; */
    min-height: 830pt;
    padding: 5px;
    font-family: var(--main-font-lndn);
    background-color: red;
  }
  .headerPhoto {
    width: 25%;
    margin-bottom: 5px;
  }
  .headerPhoto img {
    width: 65%;
  }

  .person {
    font-size: var(--font-size-xl-lndn-media320);
  }
  .contacts {
    font-size: var(--font-size-lg-lndn-media320);
  }

  .sectionContainer {
    margin: 20px 0 0 0;
    padding: 10px 0 0 0;
  }

  .sectionBodyRow {
    padding-bottom: 3px;
    column-gap: 3px;
  }
  .sectionBodyColumn {
    font-size: var(--font-size-md-lndn-media320);
  }

  .sectionTitle {
    padding-bottom: 3px;
    font-size: var(--font-size-lg-lndn-media320);
  }
  .spaceBetween {
    column-gap: 3px;
  }

  .columnWrap {
    column-gap: 15px;
  }

  .item {
    padding-bottom: 8px;
    width: 100%;
  }
  .itemDescr {
    font-size: var(--font-size-sm-lndn-media320);
  }
}
