.coverLetter {
  height: 50vh;
  min-height: 200px;
}

.rsw-editor {
  border-color: #e2e8f0 !important;
}

.rsw-toolbar {
}

.rsw-ce {
  background-color: white;
}
.rsw-ce ul {
  list-style: disc;
  padding-left: 2em;
}

.rsw-ce ol {
  list-style: decimal;
  padding-left: 2em;
}

/* .wrapper-class {
  border: 1px solid rgb(226, 232, 240);
  border-radius: 6px;
  padding: 1px;
  outline: 2px solid transparent;
}

.wrapper-class:hover {
  border-color: #cbd5e0;
}
.toolbar-class {
  border: none;
  border-bottom: 1px solid rgb(226, 232, 240);
  margin-bottom: 2px;
  background-color: RGBA(0, 0, 0, 0.02);
  display: flex;
  align-items: flex-start;
}

.toolbar-class > div::after {
  content: "|";
  color: rgb(226, 232, 240);
  margin: -2px 0.5rem 0 0.5rem;
}
.toolbar-class > div:last-child::after {
  content: "";
}
.editor-class {
  background-color: white;
  padding: 0 1rem;
  margin: 0 0;
} */
