.message {
  background-color: transparent;
  overflow: hidden;
  display: flex;
  align-items: center;
  animation: openclose 5s linear;
  white-space: nowrap;
  padding: 0;
  height: auto;
}

.message span {
  text-indent: 5px;
}

@keyframes openclose {
  0% {
    top: 0;
    width: 0;
  }

  100% {
    top: 0;
    width: 100%;
  }
}
