@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;700&family=Noto+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

html,
body {
  padding: 5px;
  margin: 0;
  height: 100%;
  background-color: white;
  display: block;
  box-sizing: border-box !important;
}
* {
  box-sizing: border-box;
}

:root {
  --title-font: 'Hanken Grotesk', sans-serif;
  --section-font: 'Roboto', sans-serif;
  --text-font: 'Noto Sans', sans-serif;

  --font-bold: 700;
  --font-normal: 400;
}
#buttonContainer {
  position: absolute;
  top: 2px;
  left: 15px;
}

/* common elements */
.bold {
  font-weight: var(--font-bold);
}
.upperCase {
  text-transform: uppercase;
}
a {
  text-decoration: underline;
  color: black;
}
a:hover {
  text-decoration: none;
}

/* elements */
.resumeContainer {
  border: 1px solid rgb(163, 163, 163);
  /* width: 21cm; */
  /* height: 29.7cm; */
  /* //padding: 2cm; */
  /* max-width: 793.706pt; */
  /* min-height: 97vh; */
  /* height: 830pt; */
  min-height: 830pt;
  height: 100%;
  background-image: url('./images/grey_bg.png');
  background-repeat: no-repeat;
  background-size: 35% 100%;
  box-sizing: border-box;
}

.headerContainer {
  background-color: #fff;
  border: 1px solid black;
  border-bottom: 2px solid black;
  padding: 30px 15px;
  margin: 10px auto;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 10px;
  font-family: var(--title-font);
}
.personName {
  font-size: 20px;
  font-weight: var(--font-bold);
  text-transform: uppercase;
}
.personJobTitle {
  font-size: 16px;
  font-weight: var(--font-normal);
}

.detailsContainer {
  /* background-color: yellow; */
  display: flex;

  margin-top: 25px;
  flex-direction: row;
}
.leftSide,
.rightSide {
  /* background-color: aquamarine; */
  padding: 3px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.leftSide {
  width: 35%;
}
.rightSide {
  width: 65%;
}

.sectionContainer {
  /* background-color: bisque; */
  width: 100%;
  margin-bottom: 20px;
}
.sectionTitle {
  font-family: var(--section-font);
  font-weight: var(--font-bold);
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 13px;
  padding-bottom: 5px;
  margin: 0 0 10px 0;
  border: 0;
  border-bottom: 2px solid black;
}

.sectionBody {
  font-family: var(--title-font);

  font-size: 13px;
  /* font-weight: 600; */
}
.item {
  /* background-color: aqua; */
  margin: 0 0 15px 0;
  width: 100%;

  box-sizing: border-box;
}
.itemRow {
  margin: 0 0 0px 0;
  display: flex;
  justify-content: space-between;
}
.firstColumn {
  /* background-color: antiquewhite; */
  width: 75%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.secondColumn {
  /* background-color: aqua; */
  width: 25%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
/* text variants */
.infoText {
  font-size: 11px;
}
.item p {
  margin: 0 0;
}
