@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
  --main-font-ababmin: Arial, Serif;
  --second-font-ababmin: Raleway, sans-serif;
  --font-bold: 700;
  --font-normal: 400;

  --color-dark: rgb(47, 47, 38);

  --color-gray: #a0aec0;
  --color-gray-dark: #718096;

  --color-teal: #4fd1c5;
  --color-teal-dark: #319795;

  --font-size-xl-ababmin: 28px;
  --font-size-lg-ababmin: 22px;
  --font-size-md-ababmin: 16px;
  --font-size-sm-ababmin: 13px;

  --font-size-xl-ababmin-media900: 28px;
  --font-size-lg-ababmin-media900: 20px;
  --font-size-md-ababmin-media900: 15px;
  --font-size-sm-ababmin-media900: 13px;

  --font-size-xl-ababmin-media450: 24px;
  --font-size-lg-ababmin-media450: 16px;
  --font-size-md-ababmin-media450: 12px;
  --font-size-sm-ababmin-media450: 10px;

  --font-size-xl-ababmin-media320: 14px;
  --font-size-lg-ababmin-media320: 12px;
  --font-size-md-ababmin-media320: 11px;
  --font-size-sm-ababmin-media320: 10px;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
div {
  margin: 0;
  padding: 0;
}

.bold {
  font-weight: var(--font-bold);
}
.upperCase {
  text-transform: uppercase;
}

a.lnk {
  text-decoration: underline;
}
a.lnk:hover {
  text-decoration: none;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.column {
  flex-direction: column;
  display: flex;
}
.rowWrap {
  flex-wrap: wrap;
}
.flex {
  display: flex;
}
.centered {
  align-items: center;
  justify-content: center;
}
.justifyEnd {
  justify-content: flex-end;
}
.alignEnd {
  align-items: flex-end;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
}

.gap_10px {
  gap: 10px;
}
.gap_25px {
  gap: 25px;
}
.row_gap_10px {
  row-gap: 10px;
}

.row_gap_15px {
  row-gap: 15px;
}
.thirdWidthSection {
  max-width: 32%;
  min-width: 30%;
}
.halfWidth {
  max-width: 50%;
  min-width: 48%;
}
.thirdWidth {
  max-width: 32%;
  min-width: 30%;
}
.quarterWidth {
  max-width: 25%;
  min-width: 24%;
}

/* Elements */

.resumeContainer {
  /* border: 1px solid rgb(163, 163, 163); */
  /* max-width: 793.706pt; */
  /* min-height: 830pt;  by default */
  min-height: 835pt;
  max-width: 594pt;
  width: 594pt !important;
  /* padding: 30px 60px; */
  font-family: var(--main-font-ababmin);
  font-size: var(--font-size-md-ababmin);
}

.headerContainer {
  display: flex;
  flex-direction: row;
  height: 20vh;
}

.headerContainer > div {
  display: flex;
  height: inherit;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}
.headerFirstColored {
  height: 80%;
  display: flex;
  background-color: var(--color-dark);
  border-radius: 0 30px 30px 0;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden;
  padding: 2px;
}
.headerFirstColored > div {
  margin: 0 auto;
  display: block;
}

.personName {
  font-size: var(--font-size-xl-ababmin);
  font-family: var(--second-font-ababmin);
  font-weight: var(--font-normal);
}
.personJob {
  font-size: var(--font-size-md-ababmin);
  font-family: var(--second-font-ababmin);
  font-weight: var(--font-normal);
}
.headerSecond {
  display: flex;
  justify-content: center;
}

.headerSecond ul {
  list-style: none;
  display: block;
  margin: 0 auto;
}

.bodyContainer {
  padding: 30px 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sectionContainer {
  border-top: 2px solid var(--color-dark);
  padding: 20px 0;
  margin: 0;
}

.sectionTwoColumns {
  display: flex;
  flex-direction: row;
  padding: 0 25px;
}

.sectionTitle {
  color: black;
  display: flex;
  font-size: var(--font-size-lg-ababmin);
}
.sectionBody {
  width: 100%;
}
.sectionItem {
  font-size: var(--font-size-md-ababmin);
  margin-bottom: 15px;
}
.sectionItemTitle {
  margin-bottom: 5px;
}
.sectionItemTitle > div {
  margin-bottom: 5px;
}
.sectionItemBody {
  margin: 0;
  padding: 0;
}

.comments ul,
.comments ol {
  margin: 0 30px 5px 30px;
}

.extraInfo {
  color: gray;
  font-size: var(--font-size-sm-ababmin);
}
