@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

:root {
  --main-font-sloo: Arial, Helvetica, sans-serif;
  --second-font-sloo: Lora, monospace;
  /* --second-font-sloo: Anonymous Pro, monospace; */
  /* --second-font-sloo: Courier, monospace; */

  --font-bold: 700;
  --font-normal: 400;

  --font-size-xl-sloo: 28px;
  --font-size-lg-sloo: 24px;
  --font-size-md-sloo: 16px;
  --font-size-sm-sloo: 12px;

  --font-size-xl-sloo-media900: 24px;
  --font-size-lg-sloo-media900: 20px;
  --font-size-md-sloo-media900: 14px;
  --font-size-sm-sloo-media900: 11px;

  --font-size-xl-sloo-media450: 20px;
  --font-size-lg-sloo-media450: 14px;
  --font-size-md-sloo-media450: 13px;
  --font-size-sm-sloo-media450: 11px;

  --font-size-xl-sloo-media320: 16px;
  --font-size-lg-sloo-media320: 13px;
  --font-size-md-sloo-media320: 11px;
  --font-size-sm-sloo-media320: 10px;
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: white;
  height: 100%;
  margin: 0;
  padding: 5px;
  cursor: default;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  display: block;
}

.bold {
  font-weight: var(--font-bold);
}
.upperCase {
  text-transform: uppercase;
}
.phone {
  text-decoration: none;
}
a.lnk {
  text-decoration: underline;
}
a.lnk:hover {
  text-decoration: none;
}
.row {
  display: flex;
  flex-direction: row;
}
.wrap {
  flex-wrap: wrap;
  gap: 15px;
}
.wrapSpaceBetween {
  flex-wrap: wrap;
  row-gap: 5px;
  justify-content: space-between;
}

/* Elements */
.resumeContainer {
  /* border: 1px solid rgb(163, 163, 163); */
  /* max-width: 793.706pt; */
  min-height: 830pt;
  /* padding: 30px 60px; */
  font-family: var(--main-font-sloo);
}

.headerContainer {
  color: #fff;
}

.brownBackGround {
  background-color: #2e2e2e;
}

.headerMainSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 45px 10px;
  margin: 0 auto;
  font-family: var(--second-font-sloo);
}
.headerPhoto {
  width: 20%;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.headerPhoto img {
  width: 50%;
  display: block;
  border-radius: 2px;
}
.headerMainSection h2 {
  font-size: var(--font-size-xl-sloo);
}
.headerMainSection .role {
  font-size: var(--font-size-md-sloo);
}

.headerBottomSection {
  border-top: 2px solid #555555;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 0px;
  padding: 15px 5px;
  font-size: var(--font-size-md-sloo);
}
.headerBottomItem {
  display: flex;
  flex-direction: row;
  column-gap: 0px;
  align-items: center;
}
.headerBottomItem:after {
  content: '|';
  margin: 0 15px;
}
.headerBottomItem:last-child:after {
  content: '';
}

/* body */
.bodyContainer {
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  flex: 1;
  row-gap: 35px;
}

.sectionContainer {
  font-size: var(--font-size-md-sloo);
}
.sectionItem {
  margin: 0 0px 15px 0;
  row-gap: 2px;
  display: flex;
  flex-direction: column;
}
.sectionTitle {
  margin: 0 0 5px 0;
}
.sectionTitle h3 {
  font-size: var(--font-size-lg-sloo);
  font-family: var(--second-font-sloo);
  margin: 0;
  padding: 0;
}

.sectionLittleText {
  font-size: var(--font-size-sm-sloo);
  color: black;
}
.textBrown {
  color: #2e2e2e;
}

.columnToWrap {
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}

.info {
  display: flex;
  flex-direction: row;
}
.info div {
  margin: 0 0px 0 0;
}
.info div:after {
  content: ' | ';
  margin: 0 10px;
}
.info div:last-child:after {
  content: '';
}

@media (max-width: 900px) {
  /* Elements */
  .resumeContainer {
    min-height: 830pt;
    font-family: var(--main-font-sloo);
  }

  .headerContainer {
    color: #fff;
  }

  .brownBackGround {
    background-color: #2e2e2e;
  }

  .headerMainSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px 10px;
    margin: 0 auto;
  }
  .headerPhoto {
    width: 20%;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .headerPhoto img {
    width: 50%;
    display: block;
    border-radius: 2px;
  }
  .headerMainSection h2 {
    font-size: var(--font-size-xl-sloo-media900);
  }
  .headerMainSection .role {
    font-size: var(--font-size-md-sloo-media900);
  }

  .headerBottomSection {
    border-top: 2px solid #555555;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* column-gap: 15px; */
    padding: 10px 5px;
    font-size: var(--font-size-sm-sloo-media900);
  }
  .headerBottomItem {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    align-items: center;
  }

  /* body */
  .bodyContainer {
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    flex: 1;
    row-gap: 20px;
  }

  .sectionContainer {
    font-size: var(--font-size-md-sloo-media900);
  }
  .sectionItem {
    margin: 0 0px 10px 0;
    row-gap: 2px;
    display: flex;
    flex-direction: column;
  }
  .sectionTitle {
    margin: 0 0 5px 0;
  }
  .sectionTitle h3 {
    font-size: var(--font-size-lg-sloo-media900);
  }

  .sectionLittleText {
    font-size: var(--font-size-sm-sloo-media900);
  }

  .columnToWrap {
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
  }

  .info {
    display: flex;
    flex-direction: row;
  }
  .info div {
    margin: 0 0px 0 0;
  }
  .info div:after {
    content: ' | ';
    margin: 0 10px;
  }
  .info div:last-child:after {
    content: '';
  }
}

@media (max-width: 450px) {
  /* Elements */
  .resumeContainer {
    min-height: 830pt;
    font-family: var(--main-font-sloo);
  }

  .headerContainer {
    color: #fff;
  }

  .headerMainSection {
    padding: 20px 10px;
    margin: 0 auto;
  }
  .headerPhoto {
    width: 20%;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .headerPhoto img {
    width: 50%;
    display: block;
    border-radius: 2px;
  }
  .headerMainSection h2 {
    font-size: var(--font-size-xl-sloo-media450);
  }
  .headerMainSection .role {
    font-size: var(--font-size-md-sloo-media450);
  }

  .headerBottomSection {
    border-top: 2px solid #555555;
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 5px;
    padding: 7px 7%;
    font-size: var(--font-size-sm-sloo-media450);
  }
  .headerBottomItem {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    align-items: center;
  }
  .headerBottomItem:after {
    content: '';
  }

  /* body */
  .bodyContainer {
    padding: 5% 7%;
    display: flex;
    flex-direction: column;
    flex: 1;
    row-gap: 15px;
  }

  .sectionContainer {
    font-size: var(--font-size-md-sloo-media450);
  }
  .sectionItem {
    margin: 0 0px 8px 0;
    row-gap: 2px;
    display: flex;
    flex-direction: column;
  }
  .sectionTitle {
    margin: 0 0 5px 0;
  }
  .sectionTitle h3 {
    font-size: var(--font-size-lg-sloo-media450);
  }

  .sectionLittleText {
    font-size: var(--font-size-sm-sloo-media450);
  }

  .columnToWrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
  }

  .info {
    display: flex;
    flex-direction: row;
  }
  .info div {
    margin: 0 0px 0 0;
  }
  .info div:after {
    content: ' | ';
    margin: 0 5px;
  }
  .info div:last-child:after {
    content: '';
  }
}

@media (max-width: 320px) {
  /* Elements */
  .resumeContainer {
    min-height: 830pt;
    font-family: var(--main-font-sloo);
  }

  .headerContainer {
    color: #fff;
  }

  .headerMainSection {
    padding: 15px 10px;
    margin: 0 auto;
  }
  .headerPhoto {
    width: 25%;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .headerPhoto img {
    width: 50%;
    display: block;
    border-radius: 2px;
  }
  .headerMainSection h2 {
    font-size: var(--font-size-xl-sloo-media320);
  }
  .headerMainSection .role {
    font-size: var(--font-size-md-sloo-media320);
  }

  .headerBottomSection {
    border-top: 2px solid #555555;
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 5px;
    padding: 7px 7%;
    font-size: var(--font-size-sm-sloo-media320);
  }
  .headerBottomItem {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    align-items: center;
  }
  .headerBottomItem:after {
    content: '';
  }

  /* body */
  .bodyContainer {
    padding: 5% 7%;
    display: flex;
    flex-direction: column;
    flex: 1;
    row-gap: 15px;
  }

  .sectionContainer {
    font-size: var(--font-size-md-sloo-media320);
  }
  .sectionItem {
    margin: 0 0px 8px 0;
    row-gap: 2px;
    display: flex;
    flex-direction: column;
  }
  .sectionTitle {
    margin: 0 0 5px 0;
  }
  .sectionTitle h3 {
    font-size: var(--font-size-lg-sloo-media320);
  }

  .sectionLittleText {
    font-size: var(--font-size-sm-sloo-media320);
  }

  .columnToWrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
  }

  .info {
    display: flex;
    flex-direction: row;
  }
  .info div {
    margin: 0 0px 0 0;
  }
  .info div:after {
    content: ' | ';
    margin: 0 5px;
  }
  .info div:last-child:after {
    content: '';
  }
}
