@font-face {
  font-family: "Uni_Sans_Heavy";
  src: url("./Uni_Sans_Heavy.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@value --main-font-mdriad: Verdana, Serif;
@value --second-font-mdriad: Uni_Sans_Heavy, sans-serif;
@value --font-bold: 700;
@value --font-normal: 400;

@value --color-dark: rgb(47, 47, 38);

@value --color-gray: #a0aec0;
@value --color-gray-dark: #718096;

@value --color-teal: #4fd1c5;
@value --color-teal-dark: #319795;

@value --font-size-xl-mdriad: 32px;
@value --font-size-lg-mdriad: 22px;
@value --font-size-md-mdriad: 16px;
@value --font-size-sm-mdriad: 12px;

@value --font-size-xl-mdriad-media900: 28px;
@value --font-size-lg-mdriad-media900: 20px;
@value --font-size-md-mdriad-media900: 14px;
@value --font-size-sm-mdriad-media900: 11px;

@value --font-size-xl-mdriad-media450: 24px;
@value --font-size-lg-mdriad-media450: 16px;
@value --font-size-md-mdriad-media450: 12px;
@value --font-size-sm-mdriad-media450: 10px;

@value --font-size-xl-mdriad-media320: 20px;
@value --font-size-lg-mdriad-media320: 12px;
@value --font-size-md-mdriad-media320: 11px;
@value --font-size-sm-mdriad-media320: 10px;

.bold {
  font-weight: var(--font-bold);
}
.upperCase {
  text-transform: uppercase;
}

a.lnk {
  text-decoration: underline;
}
a.lnk:hover {
  text-decoration: none;
}

.row {
  display: flex;
  flex-direction: row;
}
.column {
  flex-direction: column;
  display: flex;
}
.rowWrap {
  flex-wrap: wrap;
}
.halfWidth {
  max-width: 50%;
  min-width: 48%;
}
.thirdWidth {
  max-width: 32%;
  min-width: 30%;
}
.quarterWidth {
  max-width: 25%;
  min-width: 24%;
  display: flex;
}

.alignRight {
  justify-content: flex-end;
}

.spaceBetween {
  justify-content: space-between;
}
.gap_10px {
  gap: 10px;
}
.gap_25px {
  gap: 25px;
}

.bgTeal {
  background-color: --color-teal;
}

.bgTealDark {
  background-color: --color-teal-dark;
}

.bgDark {
  background-color: --color-dark;
}

.bgGray {
  background-color: --color-gray;
}
.bgGrayDark {
  background-color: --color-gray-dark;
}

/* Elements */
.resumeContainer {
  /* border: 1px solid rgb(163, 163, 163); */
  /* max-width: 793.706pt; */
  /* min-height: 830pt;  by default */
  min-height: 830pt;
  max-width: 594pt;
  width: 594pt !important;
  /* padding: 30px 60px; */
  font-family: --main-font-mdriad;
  font-size: --font-size-md-mdriad;
}

/* Header styles */
.headerContainer {
  background-color: white;
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  height: 160px;
  min-height: 160px;
}
.headerImgContainer {
  background-color: lightgray;
  width: 20%;
  display: flex;
  flex-direction: row;
}
.headerImgContainer img {
  display: block;
}
.headerInfoContainer {
  display: flex;
  align-items: flex-start;
  margin: 0;
  height: inherit;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.personContainer {
  padding: 0;
  margin: -10px 50px 0 50px;
}
.personName {
  font-size: --font-size-xl-mdriad;
}

/* Body styles */
.bodyContainer {
  padding: 30px 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Section styles */
.sectionContainer {
  font-size: --font-size-md-mdriad;

  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.sectionTitle {
  color: white;
  text-transform: uppercase;
  font-family: --second-font-mdriad;
  padding: 0 7px 5px 7px;
  display: inline;
}
.sectionTitle span {
  /* padding: 0 7px 7px 7px;
  background-color: rgb(47, 47, 38); */
}
.sectionBody {
  margin: 10px 0 0px 0;
}
.sectionItem {
  margin-bottom: 10px;
}
.sectionItemTitle {
  margin-bottom: 5px;
}
.sectionItemBody {
  margin: 0;
  padding: 0;
}
.sectionItem ul,
.sectionItem ol {
  margin-left: 30px;
}
.extraInfo {
  color: gray;
  font-size: --font-size-sm-mdriad;
}
.comments ul,
.comments ol {
  margin: 0 30px 5px 30px;
}

/* LineBar styles */
.lineBarContainer {
  display: flex;
  row-gap: 5px;
  flex-direction: column;
}

.lineBarBackground {
  background-color: lightgray;
  width: 100%;
  height: 5px;
}
.lineBarLevel {
  height: 5px;
}
