.icon {
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  transition: all 0.2s;
}

/* svg:hover {
  fill: #38b2ac;
  fill: red;
} */

/* cursors */
.grab {
  cursor: grab;
}
.pointer {
  cursor: pointer;
}
.red {
}

.red:hover {
  fill: #e53e3e;
}
.expanded {
  transform: rotate(180deg);
}
.colorTeal {
  fill: #319795;
}
