:root {
  --main-font-lndn: Arial, Helvetica, sans-serif;
  --second-font-lndn: Courier, monospace;

  --font-bold: 700;
  --font-normal: 400;

  --font-size-xl-lndn: 32px;
  --font-size-lg-lndn: 22px;
  --font-size-md-lndn: 19px;
  --font-size-sm-lndn: 16px;

  --separator-color-lnd: darkslateblue;
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: white;
  height: 100%;
  margin: 0;
  padding: 5px;
  cursor: default;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: var(--font-size-md-lndn);
  display: block;
}
.bold {
  font-weight: var(--font-bold);
}
.upperCase {
  text-transform: uppercase;
}
.phone {
  text-decoration: none;
}

/* elements */

.resumeContainer {
  border: 1px solid rgb(163, 163, 163);
  /* max-width: 793.706pt; */
  min-height: 830pt;
  padding: 60px;
  font-family: var(--main-font-lndn);
}
.headerContainer {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person {
  font-size: var(--font-size-xl-lndn);
  font-family: var(--main-font-lndn);
}
.contacts {
  font-size: var(--font-size-md-lndn);
  font-family: var(--main-font-lndn);
  text-align: center;
}

.sectionContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-top: 2px solid var(--separator-color-lnd);
  margin: 50px 0 0 0;
  padding: 20px 0 0 0;
  width: 100%;
}
.sectionBody {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.sectionBodyRow {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
}
.sectionBodyColumn {
  display: flex;
  flex-direction: column;
}
.column_25 {
  width: 25%;
}

.column_49 {
  width: 49%;
}
.column_50 {
  width: 50%;
}
.column_75 {
  width: 75%;
}

.sectionTitle {
  padding-bottom: 10px;
  font-family: var(--second-font-lndn);
}
.spaceBetween {
  display: flex;
  /* flex: 1; */
  flex-direction: row;
  justify-content: space-between;
}
.columnWrap {
  flex-wrap: wrap;
  column-gap: 30px;
  flex: 1;
}
.noWrap {
  display: flex;
  flex-wrap: nowrap;
}
.item {
  padding-bottom: 10px;
  width: 100%;
}
.itemName {
}
.itemDescr {
  font-size: var(--font-size-sm-lndn);
}
.item p {
  padding: 0;
  margin: 10px 0 0 0;
}
.columnWrap div.item {
  min-width: 46%;
  max-width: 47%;
  align-items: center;
}
.shortSeparator {
  background-color: var(--separator-color-lnd);
  margin: 0 10px;
  height: 2px;
  width: 10px;
}
.alignCenter {
  align-items: center;
}
